ol{
  background-color:skyblue;
  list-style-image:url(../image\/icons-rocket.png);
}
 
ul{
   background-color:orange;
 list-style-image:url(../image\/heartarrow-icon.png);
   
}

li{
   disply:inline;
   list-style-type:circle;
   background-color:grey;
   color:white;
 
  list-style-type:none;
 }

#div1{
         text-align:center;
         background-color:skyblue;
         font-size:50;       
}
a{color:black;
   font-family:font1;
}
@font-face{
         font-family:font1;
         src:url(font/harry.ttf);
}
